---
---

@import "{{ site.theme }}";

h1 {
  color: red;
  font-family: "Courier New", Monospace;
}

h2 {
  color: red:
}

p {
  color: red;
  font-family: "Courier New", Monospace;
}

body {
    margin: 60px auto;
    width: 70%;
}

